@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --headerColor: #f55a5a;
  --fontColor: #2b283a;
  --fontColorLight: #918e9b;
  --genericColor: white;

  --multiplier: 1.75;
}

@media screen and (max-width: 700px) {
  :root {
    --multiplier: 1.5;
  }
}

@media screen and (max-width: 600px) {
  :root {
    --multiplier: 0.9;
  }
}

@media screen and (max-width: 500px) {
  :root {
    --multiplier: 0.8;
  }
}

@media screen and (max-width: 400px) {
  :root {
    --multiplier: 0.6;
  }
}

body {
  font-family: "Inter", sans-serif;
  font-size: calc(16px * var(--multiplier));

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  color: var(--fontColor);
}

#root {
  height: 100%;
  width: 100%;
  max-width: 1600px;
  min-width: 300px;
}

/* Styling header section */
.header {
  width: 100%;
  height: calc(55px * var(--multiplier));
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--headerColor);
  color: var(--genericColor);
  padding: calc(20px * var(--multiplier));
}

.header h1 {
  margin-left: calc(7px * var(--multiplier));
  font-size: calc(14.46px * var(--multiplier));
  font-weight: 500;
}

.header img {
  height: calc(24px * var(--multiplier));
}

/* Styling Main section */
.locations {
  display: flex;
  flex-direction: column;
  padding: 45px 40px;
}

/* Travel section style */
.travel {
  max-width: calc(470px * var(--multiplier));
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
  border-bottom: 1px solid #f5f5f5;

  display: flex;
  justify-content: space-between;
}

/* Travel section immage style */
.image {
  height: calc(168px * var(--multiplier));
  width: 100%;
  max-width: calc(125px * var(--multiplier));
  background: var(--fontColorLight);
  border-radius: 5px;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

.image img {
  height: 100%;
  width: 100%;
}

/* Details style */
.details {
  padding: min(20px, calc(20px * var(--multiplier)));
  padding-right: min(5px, calc(5px * var(--multiplier)));
}

.countryDetail {
  display: flex;
  align-items: center;
  margin-bottom: calc(7px * var(--multiplier));
}

.countryDetail .icon {
  height: calc(7px * var(--multiplier));

  margin-right: calc(4px * var(--multiplier));
}

.countryDetail .country {
  text-transform: uppercase;
  letter-spacing: 0.17em;
  margin-right: calc(12px * var(--multiplier));
  font-size: calc(10.24px * var(--multiplier));
}

.countryDetail a {
  font-weight: 400;
  font-size: calc(10.24px * var(--multiplier));
  color: var(--fontColorLight);
}

.locationName {
  font-size: calc(25px * var(--multiplier));
  font-weight: 700;
  margin-bottom: calc(7px * var(--multiplier));
  text-transform: capitalize;
}

.travelPeriod {
  font-size: calc(10.24px * var(--multiplier));
  font-weight: 700;
  line-height: calc(12px * var(--multiplier));

  margin-bottom: 10px;
}

.description {
  font-size: calc(10.24px * var(--multiplier));
  font-weight: 400;
  line-height: 150%;
}
